{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/flowtype",
    "plugin:flowtype/recommended",
    "plugin:fp/recommended"
  ],
  "plugins": ["prettier", "flowtype", "fp"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external"], ["internal", "parent", "sibling", "index"]],
        "newlines-between": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["etc/**", "stories/**", "scripts/**", "**/__tests__/*"]
      }
    ],
    "flowtype/require-valid-file-annotation": ["error", "always", { "annotationStyle": "line" }],
    "flowtype/newline-after-flow-annotation": [2, "always"],
    "react/display-name": "error",
    // OFF
    "fp/no-nil": "off", // Side effects
    "fp/no-class": "off", // React
    "fp/no-this": "off", // React
    "fp/no-mutation": "off", // React
    "fp/no-unused-expression": "off", // 'fs' calls, for example
    "fp/no-loops": "off",
    "fp/no-mutating-methods": "off",
    "no-await-in-loop": "off",
    "eslint/fp/no-mutating-methods": "off",
    "react/default-props-match-prop-types": "off", // Flow/ESlint conflict
    "react/require-default-props": "off", // Somehow semantically wrong
    "react/jsx-filename-extension": "off", // Prague guys being hip,
    "react/destructuring-assignment": "off", // Prague guys being hip,
    "react/no-unused-state": "off",
    "react/prop-types": "ignore",
    "react/sort-comp": "off",
    "jsx-a11y/anchor-is-valid": "off" // Relative paths bullshit
  }
}
