# editors
.idea
.vscode

# build output
dist
.next
out

# dependencies
node_modules
package-lock.json
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store

# secrets
.env*
!.env-sample
